<% provide(:title, 'Log in')%>
<h1>Login</h1>
<%= form_for(:session, url: login_path) do |f| %>
  <div class="mb-3">
    <%= f.label :email_address, class: 'form-label' %>
    <%= f.text_field :email_address, class: 'form-control' %>
  </div>
  <div class="mb-3">
    <%= f.label :password, class: 'form-label' %>
    <%= f.password_field :password, class: 'form-control' %>
  </div>
  <button type="submit" class="btn btn-primary form-control">Log in</button>
  or <%= link_to 'Sign up', signup_path %>
<% end %>